<html>
<head>
<style>
    body {background-image:url("https://wallpaperaccess.com/full/1732235.jpg");
background-size:cover;
background-repeat:no-repeat;

</style>
     <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: pink;
  color:black;
}
</style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<a  href="manageCard"> <i class="fa fa-mail-reply" style="font-size:35px;color:purple"></i></a>

<body><center>
 <ul style="padding-left:400px">
  <li><a href="manageAddress">Manage Address</a></li>
</ul>

        <br> <br> <br> <br> <br> <br> <br> <br>
<div class="tab tab-2">
 <form action="modifyCard" method="post">
                        {% csrf_token%}
    <h2>Card Name : <input type="text" name="cardname" id="cardname" value="{{billing.cardname}}">
    <br> <br> <br>
    Card Number : <input type="text" name="cardnumber" id="cardnumber" value="{{billing.cardnum}}">
    <br> <br> <br>
	Expiry Month : <input type="text" name="month" id="month" value="{{billing.expmonth}}">
    <br> <br> <br>
	Expiry Year : <input type="text" name="year" id="year" value="{{billing.expyear}}">
	<br> <br> <br>
	Cvv : <input type="text" name="cardcvv" id="cardcvv" value="{{billing.cvv}}">
	<br> <br> <br>
	    
		
    <input type="hidden" name="bId" value="{{billing.bid}}"/>
                             <input type="submit" value="UPDATE" />
        <br/>
         {% for mes in messages %}
        {{mes}}
        {% endfor %}
    </h2>
           </form>
            </div>
</center>
</body>
</html>